main > h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    transition: filter 0.3s ease;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

main > p {
    margin-top: 1rem;
}

@media (min-width: 600px) {
    main > h1 {
        font-size: 3rem;
    }
}
