@keyframes load {
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes burger-hide {
    100% {
        transform: translateY(1vh);
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none;
}

*:focus-visible {
    outline: 2px solid var(--color-highlight);
}

html {
    --color-main: rgb(10, 10, 10);
    --color-accent: rgb(18, 18, 18);
    --color-accentwo: rgb(75, 75, 75);
    --color-hover: rgb(100, 100, 100);
    --color-red: rgb(255, 73, 73);
    --color-darkred: rgb(181, 41, 41);
    --color-brown: rgb(248, 174, 105);
    --color-darkbrown: rgb(207, 134, 66);
    --color-orange: rgb(255, 156, 64);
    --color-darkorange: rgb(201, 119, 42);
    --color-yellow: rgb(227, 212, 76);
    --color-darkyellow: rgb(190, 175, 42);
    --color-green: rgb(103, 255, 90);
    --color-darkgreen: rgb(47, 172, 36);
    --color-blue: rgb(99, 143, 255);
    --color-darkblue: rgb(37, 78, 183);
    --color-teal: rgb(106, 245, 254);
    --color-darkteal: rgb(67, 203, 211);
    --color-purple: rgb(178, 36, 215);
    --color-darkpurple: rgb(134, 15, 155);
    --color-magenta: rgb(255, 55, 112);
    --color-darkmagenta: rgb(171, 11, 110);
    --color-disgreen: rgb(90, 163, 100);
    --color-highlight: rgb(70, 112, 219);

    --font-main: 'Segoe UI', system-ui, 'Ubuntu', helvetica, arial, sans-serif;

    font-size: clamp(13px, 13px + 0.4vw, 21px);
    font-weight: 700;
    scrollbar-width: thin;
    scrollbar-color: white transparent;
}

html::-webkit-scrollbar {
    width: 7px;
}

html::-webkit-scrollbar-thumb {
    background-color: white;
}

::selection {
    background-color: var(--color-highlight);
}

body {
    scroll-behavior: smooth;
    color: white;
    height: max-content;
    flex-direction: column;
    overflow: hidden;
    background-color: #000000;
    font-family: var(--font-main);
}

#wrap {
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: inherit;
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -webkit-user-select: none;
}

span[z-color] {
    position: relative;
    font-weight: bold;
    transition: filter 0.3s ease;
}

span[z-color]:hover {
    filter: saturate(2);
}

span[z-color]::after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    top: 90%;
    width: 100%;
    border-bottom: 3px solid;
    border-radius: 1px;
    will-change: transform;
    transition: transform 0.3s ease;
}

span[z-color]:hover::after {
    transform: translateY(3px);
}

span[z-color='red'] {
    color: var(--color-red);
}

span[z-color='brown'] {
    color: var(--color-brown);
}

span[z-color='orange'] {
    color: var(--color-orange);
}

span[z-color='yellow'] {
    color: var(--color-yellow);
}

span[z-color='green'] {
    color: var(--color-green);
}

span[z-color='blue'] {
    color: var(--color-blue);
}

span[z-color='teal'] {
    color: var(--color-teal);
}

span[z-color='purple'] {
    color: var(--color-purple);
}

span[z-color='magenta'] {
    color: var(--color-magenta);
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}

.load-anim {
    transform: translateY(1vh);
    opacity: 0;
    animation: load 0.3s ease-out 0s forwards paused;
}

.flex {
    display: flex;
}

.flex-cent {
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    display: flex;
    justify-content: center;
    transition: margin-left 0.8s ease;
}

#intro {
    width: 100%;
    max-width: 500px;
    top: calc(50vh - (100vw / 3) / 2);
    position: absolute;
    aspect-ratio: 3;
    will-change: margin;
    height: min-content;
    transition: top 0.8s ease, width 0.8s ease, opacity 0.8s ease;
}

#intro.play {
    top: 0;
}

nav {
    display: none;
    pointer-events: none;
}

main {
    pointer-events: none;
    width: 100%;
    padding: 7rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    max-width: 720px;
    margin: auto;
}

#nav-bottom {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 100%;
    font-size: 2rem;
    height: 100%;
    width: 100%;
    transition: top 0.4s ease;
    background-color: var(--color-accent);
}

#nav-bottom.show {
    top: 0;
}

.nav-bottom-item {
    display: flex;
    margin-top: 2.5rem;
    transition: filter 0.3s ease;
}

.nav-bottom-item:hover,
.nav-bottom-item:focus-visible {
    filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.7));
}

.nav-bottom-item > i {
    margin-right: 0.5rem;
}

#burger {
    cursor: pointer;
    flex-direction: column;
    pointer-events: none;
    margin: 2rem 0;
}

.line {
    height: 0.3rem;
    width: 3rem;
    border-radius: 1px;
    background-color: white;
    transition: transform 0.4s ease;
    filter: drop-shadow(0 0 0.4rem black);
}

.line:first-child {
    margin-top: auto;
}

.line:last-child {
    margin-top: 1rem;
}

.line:first-child.open {
    transform: translateY(0.65rem) rotate(-45deg);
}

.line:last-child.open {
    transform: translateY(-0.65rem) rotate(45deg);
}

.socials {
    margin-top: 4rem;
    gap: 1rem;
    font-size: 2rem;
    width: 100%;
    pointer-events: none;
}

.socials > a {
    transition: color 0.3s ease;
}

.socials > a:hover,
.socials > a:focus-visible {
    color: var(--color-hover);
}

.this {
    color: var(--color-purple);
}

.this:hover,
.this:focus-visible {
    filter: drop-shadow(0 0 0.5rem rgba(178, 36, 215, 0.7));
}

@media (min-width: 450px) {
    #burger {
        margin: 2rem 0;
    }
}

@media (min-width: 600px) {
    #intro {
        top: calc(50vh - 166.66px / 2);
    }

    #overlay.play {
        margin-left: 5rem;
    }

    #intro.play {
        width: calc(100% - 5rem);
        top: -1rem;
    }

    main {
        padding: 0 2rem 0 7rem;
    }

    .bar-wrap > p {
        font-size: 1rem;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        height: 100vh;
        width: 5rem;
        padding: 1.5rem 0 4rem 0;
        transform: translateX(-5rem);
        background-color: var(--color-accent);
    }

    nav > img {
        opacity: 0;
        transition: opacity 0.8s ease;
        width: 5rem;
        height: 5rem;
    }

    nav > div {
        flex-direction: column;
    }

    .sidebar-item {
        margin-top: 2rem;
        font-size: 2rem;
        transition: filter 0.3s ease;
    }

    .sidebar-item:not(:last-child):hover,
    .sidebar-item:not(:last-child):focus-visible {
        filter: drop-shadow(0 0 0.5rem rgba(255, 255, 255, 0.7));
    }

    .sidebar-item > a {
        margin-top: 0.8rem;
        font-size: 1.5rem;
        transition: color 0.3s ease;
    }

    .sidebar-item > a:hover,
    .sidebar-item > a:focus-visible {
        color: var(--color-hover);
    }

    .this:hover,
    .this:focus-visible {
        filter: drop-shadow(0 0 0.5rem rgba(178, 36, 215, 0.7)) !important;
    }

    #nav-bottom {
        display: none;
    }

    #nav-bottom.show {
        display: none;
    }

    #burger {
        display: none;
    }

    @media (max-height: 600px) {
        nav {
            overflow: auto;
            scrollbar-width: none;
        }

        nav::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-height: 850px) {
        #intro.play {
            margin: 0;
            opacity: 0;
        }
    }
}

@media (min-width: 700px) {
    html {
        font-size: clamp(13px, 13px + 0.2vw, 21px);
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::after {
        transition: none !important;
    }

    .load-anim {
        animation: load 0.01s linear 0s forwards paused;
    }
}
