main > h1 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

main > h1:nth-child(2) {
    margin-bottom: 1rem;
    font-size: 3rem;
}

#welcome {
    transition: opacity 0.3s ease 0s;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
    width: 100%;
}

.link {
    padding: 0.6rem;
    border-radius: 5px;
    font-size: 1.1em;
    width: 100%;
    height: 4rem;
    pointer-events: none;
}

.all {
    background: linear-gradient(140deg, var(--color-accent) -1%, var(--color-accentwo) 0%, var(--color-accent));
    border: 0.1rem solid var(--color-accentwo);
    filter: drop-shadow(0 0 0.4rem var(--color-accentwo));
    transition: filter 0.3s ease;
}

.all:hover {
    filter: drop-shadow(0 0 1.5rem var(--color-accentwo));
}

.presence {
    background: linear-gradient(140deg, var(--color-green), var(--color-darkgreen));
    border: 0.1rem solid var(--color-green);
    filter: drop-shadow(0 0 0.4rem var(--color-green));
    transition: filter 0.3s ease;
}

.presence:hover {
    filter: drop-shadow(0 0 1rem var(--color-green));
}

.skills {
    background: linear-gradient(140deg, var(--color-magenta), var(--color-darkmagenta));
    border: 0.1rem solid var(--color-magenta);
    filter: drop-shadow(0 0 0.4rem var(--color-magenta));
    transition: filter 0.3s ease;
}

.skills:hover {
    filter: drop-shadow(0 0 1.5rem var(--color-magenta));
}

.about {
    background: linear-gradient(140deg, var(--color-orange), var(--color-darkorange));
    border: 0.1rem solid var(--color-orange);
    filter: drop-shadow(0 0 0.4rem var(--color-orange));
    transition: filter 0.3s ease;
}

.about:hover {
    filter: drop-shadow(0 0 1.5rem var(--color-orange));
}

.link i {
    margin-right: 0.5em;
}

.main > p:last-of-type {
    margin-top: 1.3rem;
}
