.no-scroll {
    scrollbar-width: none;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

main {
    padding-top: 7rem;
    max-width: 1200px;
    margin: 0 auto;
    transition: opacity 1s ease;
}

main > div:first-of-type {
    margin-bottom: 3rem;
}

#projects {
    transition: opacity 0.2s ease, transform 0.2s ease;
}

#projects.switching {
    opacity: 0;
    transform: translateY(2rem);
}

#filter {
    font-size: 1.4rem;
}

#filter > i {
    margin-right: 0.5rem;
}

#filters {
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: x proximity;
    scrollbar-width: none;
    padding: 1rem 0;
    position: relative;
}

#filters > .overlays {
    background: linear-gradient(90deg, var(--color-main) 3%, transparent 20%, transparent 80%, var(--color-main) 97%);
}

#filters > .overlays > div {
    width: 2rem;
}

#filters > .tag {
    opacity: 0.8;
    transition: opacity 0.3s ease, margin 0.3s ease;
}

#filters > .tag.selected {
    opacity: 1;
}

#filters > .tag:hover {
    filter: none;
}

.project {
    width: 100%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    position: relative;
    overflow: hidden;
    line-height: 1.7rem;
}

.project.hide {
    display: none;
}

.project > img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, var(--color-accent) 50%, transparent);
    padding: 15rem 1rem 1rem 1rem;
    transition: padding 0.3s ease;
}

.wrapper > div:first-of-type {
    width: 100%;
    justify-content: space-between;
}

.wrapper > div:first-of-type > h1 {
    font-size: 1.7rem;
}

.wrapper > div:first-of-type > a {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.wrapper > div:first-of-type > a:hover {
    color: var(--color-hover);
}

.wrapper > p {
    max-width: 700px;
    margin: 2rem 0;
}

.tags {
    gap: 1rem;
    overflow: auto;
    scroll-snap-type: x proximity;
    padding: 1rem 0;
    position: relative;
    margin: 0 auto;
}

.tags.no-hover > .tag {
    margin: 0;
}

.tag:first-of-type {
    margin-left: 3rem;
}

.tag:last-of-type {
    margin-right: 3rem;
}

.overlays {
    position: fixed;
    justify-content: space-between;
    background: linear-gradient(90deg, var(--color-accent) 6%, transparent 20%, transparent 80%, var(--color-accent) 94%);
    right: 0;
    width: 100%;
    height: 4rem;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlays > div {
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    transition: color 0.3s ease, transform 0.3s ease;
    color: rgb(255, 255, 255, 0.5);
    height: 100%;
    width: 3rem;
}

.overlays > div:hover {
    color: rgb(255, 255, 255, 0.8);
}

.overlays > div:first-child {
    justify-content: flex-end;
}

.tag {
    width: 10rem;
    min-width: 10rem;
    padding: 1rem;
    height: 4rem;
    scroll-snap-align: center;
    border-radius: 10px;
    transition: filter 0.3s ease, margin 0.3s ease;
}

.tag > i {
    margin-right: 0.5rem;
}

.tag > svg {
    width: 1em;
    margin-right: 0.5rem;
    fill: white;
}

.html {
    background: linear-gradient(140deg, var(--color-orange), var(--color-darkorange));
    border: 0.1rem solid var(--color-orange);
}

.html:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-orange));
}

.css {
    background: linear-gradient(140deg, var(--color-blue), var(--color-darkblue));
    border: 0.1rem solid var(--color-blue);
}

.css:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-blue));
}

.js {
    background: linear-gradient(140deg, var(--color-yellow), var(--color-darkyellow));
    border: 0.1rem solid var(--color-yellow);
}

.js:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-yellow));
}

.node {
    background: linear-gradient(140deg, var(--color-green), var(--color-darkgreen));
    border: 0.1rem solid var(--color-green);
}

.node:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-green));
}

.deno {
    background: linear-gradient(140deg, var(--color-magenta), var(--color-darkmagenta));
    border: 0.1rem solid var(--color-magenta);
}

.deno:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-magenta));
}

.python {
    background: linear-gradient(140deg, var(--color-teal), var(--color-darkteal));
    border: 0.1rem solid var(--color-teal);
}

.python:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-teal));
}

.bash {
    background: linear-gradient(140deg, var(--color-red), var(--color-darkred));
    border: 0.1rem solid var(--color-red);
}

.bash:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-red));
}

.nextjs {
    background: linear-gradient(140deg, var(--color-magenta), var(--color-darkmagenta));
    border: 0.1rem solid var(--color-magenta);
}

.nextjs:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-magenta));
}

.react {
    background: linear-gradient(140deg, var(--color-purple), var(--color-darkpurple));
    border: 0.1rem solid var(--color-purple);
}

.react:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-purple));
}

.mongodb {
    background: linear-gradient(140deg, var(--color-brown), var(--color-darkbrown));
    border: 0.1rem solid var(--color-brown);
}

.mongodb:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-brown));
}

.mongodb {
    background: linear-gradient(140deg, var(--color-brown), var(--color-darkbrown));
    border: 0.1rem solid var(--color-brown);
}

.mongodb:hover {
    filter: drop-shadow(0 0 0.7rem var(--color-brown));
}

#tellodji {
    background: url(../images/tellodji.webp) center / cover no-repeat;
}

#detoxifai {
    background: url(../images/detoxifai.webp) center / cover no-repeat;
}

#trollpy {
    background: url(../images/trollpy.webp) center / cover no-repeat;
}

#browser {
    background: url(../images/browser.webp) center / cover no-repeat;
}

#unknown {
    background: url(../images/unknown.webp) center / cover no-repeat;
}

#portfolio {
    background: url(../images/portfolio.webp) center / cover no-repeat;
}

@media (min-width: 430px) {
    .wrapper > div:first-of-type > h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 600px) {
    #intro.play {
        top: -2rem;
    }
}

@media (min-width: 700px) {
    .tags > span {
        background: linear-gradient(90deg, var(--color-accent) 3%, transparent 10%, transparent 90%, var(--color-accent) 97%);
    }

    #filters > .overlays {
        background: linear-gradient(90deg, var(--color-main) 3%, transparent 10%, transparent 90%, var(--color-main) 97%);
    }
}

@media (min-width: 800px) {
    #filters .overlays {
        background: linear-gradient(90deg, var(--color-main) 2%, transparent 6%, transparent 94%, var(--color-main) 98%);
        opacity: 1;
    }

    #filters .tag:first-of-type {
        margin-left: 3rem;
    }

    #filters .tag:last-of-type {
        margin-right: 3rem;
    }

    #filters .overlays > i {
        transform: none;
    }

    .wrapper:hover {
        padding-top: 16rem;
    }

    .overlays {
        opacity: 0;
    }

    .tags.hover > .overlays {
        opacity: 1;
    }

    .tags.hover .overlays > i:first-of-type {
        transform: translateX(-1rem);
    }

    .tags.hover .overlays > i:last-of-type {
        transform: translateX(1rem);
    }

    .tags.hover .overlays > i:first-child {
        transform: translateX(1rem);
    }

    .tags.hover .overlays > i:last-child {
        transform: translateX(-1rem);
    }

    .tag:first-of-type {
        margin-left: 0;
    }

    .tag:last-of-type {
        margin-right: 0;
    }

    .tags.hover > .tag:first-of-type {
        margin-left: 3rem;
    }

    .tags.hover > .tag:last-of-type {
        margin-right: 3rem;
    }
}
